
<div class="row">
  <% @works.each do |work| %>
    <div class="col md-3 text-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Nombre Tarea: <%= work.name %></h5>
          <!-- <p class="card-text"><%#= work.content %></p> -->
          <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary"><%= link_to 'Show', post %></button>
        <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_post_path(post) %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'New Post', new_post_path %>

