<div class="row">
	<div class="card-group">
	<% @products.each do |product|%>
	<div class="col md-3 text-center">
	  <div class="card" style="width: 18rem;">
	  <%= image_tag product.photo, class:'card-img-top' %> 
	    <div class="card-body">
	      <h6 class="card-title"><%= product.name %></h6>
	      <p class="card-text">precio: <%= product.price %></p>
	    <a href="#" class="btn btn-primary">comprar</a>
	    </div>
	  </div>
	</div>
	<% end %>
</div>
</div>
